
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=768">
    <meta name="facebook-domain-verification" content="w636in2i81a78u3vl5wrd7z2b61zwk" />

    <link rel="canonical" href="https://star-t.io">
    
    <title>Star-T | 안전하고 간편한 엔젤투자</title>
    <link rel="stylesheet" href="{{url_for('static', filename='js/flexslider/flexslider.css')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.bxslider/jquery.bxslider.css')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/new_ver2.css')}}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- social -->
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="Star-T">
    <meta property="og:description" content="안전하고 간편하게 엔젤투자하세요!">
    

</head>

<body>

    <!-- 최상단 -->
    <section id="SECTION01">
        <div class="container">
            <div class="text-box">
                <div class="title-text">
                    안전하고 간편한<br /> <strong><span class="underline">엔젤투자<span></span></span> 서비스</strong>
                </div>
                <div class="subtitle-text">2023년 1월<br/>
                    Star-T의 첫 걸음이 시작됩니다!</div>
            </div>
            </div>
        </div>
    </section>


    <!-- 스탭1 -->
        <section id="SECTION04">
        <div class="container">
            <div class="step-box">
                <div class="step-title"><strong style="color:#296BFD;">Step 01.</strong></div>
                <!--<div class="underline"></div>-->
                <div class="subtitle-text">나에게 맞춤화된</div>
                <div class="title-bold-text">엔젤투자 투자금액 찾기</div>
            </div>
            <div class="tabs-box">
                <ul class="tab-ul">
                    <li><a id="" class="tab-title on goal-button_1" data-for="#TAB1A" data-img="{{url_for('static', filename='images/main_pc/s1_01.png')}}">1. 연봉 입력</a></li>
                    <li><a id="" class="tab-title goal-button_2" data-for="#TAB1B" data-img="{{url_for('static', filename='images/main_pc/s1_02.png')}}">2. 투자금 선택</a></li>
                    <li><a id="" class="tab-title goal-button_3" data-for="#TAB1C" data-img="{{url_for('static', filename='images/main_pc/s1_03.png')}}">3. 투자처 선택</a></li>
                </ul>
                <div id="TAB1A" class="tab-content on">연봉을 입력해서<br />나에게 맞는 투자금액을 찾으세요</div>
                <div id="TAB1B" class="tab-content">추천드린 투자금액에서<br />나에게 맞는 투자비율을 선택하세요</div>
                <div id="TAB1C" class="tab-content">다양한 투자처 중<br />나에게 맞는 투자처를 선택하세요</div>
            </div>
            <div class="img-box">
                <div class="img-wrap"><img id="TAB1_IMG" src="{{url_for('static', filename='images/main_pc/s1_01.png')}}"></div>
            </div>
        </div>
    </section>


    <!-- 스탭2 -->
    <section id="SECTION05">
        <div class="container">
            <div class="img-box">
                <div class="img-wrap"><img id="TAB2_IMG" src="{{url_for('static', filename='images/main_pc/s2_06.png')}}"></div>
            </div>

            <div class="step-box">
                <div class="step-title"><strong style="color:#296BFD;">Step 02.</strong></div>
                <!--div class="subtitle-text">6가지 규칙으로 즐기는</div>
                <div id="" class="title-bold-text">펀(Fun) 세이빙</div>-->
                <!--<div class="underline"></div>-->
                <div class="subtitle-text">내가 원하는대로 투자 방법 선택</div>
                <div id="TAB2A2" class="title-text on"><b>투자가 아직 어렵다면<br />투자 전문가와 함께하세요</b></div>
                <div id="TAB2B2" class="title-text"><b>투자하고 싶은 기업이 있다면<br />직접 기업에게 투자하세요</b></div>
                <!--<div class="title-bold-text">펀(Fun) 세이빙</div>-->
            </div>

            <div class="tabs-box">
                <ul class="tab-ul">
                    <li class="tab-title-text on" data-for="#TAB2A" data-no="6">
                        <a id="fb_rule_1"><div class="tab-title-img"><img class="GTM_rule_2" src="{{url_for('static', filename='images/main_pc/g5_tab_06.png')}}"
                                data-src="{{url_for('static', filename='images/main_pc/g5_tab_06.png')}}"></div>
                        <div class="tab-text"><span class="GTM_rule_2">슈퍼엔젤</span></div></a>
                    </li>
                    <li class="tab-title-text" data-for="#TAB2B" data-no="3">
                        <a id="fb_rule_2"><div class="tab-title-img"><img class="GTM_rule_1" src="{{url_for('static', filename='images/main_pc/g5_tab_03.png')}}"
                                data-src="{{url_for('static', filename='images/main_pc/g5_tab_03.png')}}"></div>
                        <div class="tab-text"><span class="GTM_rule_3">크라우드펀딩</span></div></a>
                    </li>
                    
                </ul>

            </div>
        </div>
    </section>

    <!-- 스탭3 -->
    <section id="SECTION02B">
        <div class="container">
            <div class="step-box">
                <div class="step-title"><strong style="color:#296BFD;">Step 03.</strong></div>
                <!--<div class="underline"></div>-->
                <div class="subtitle-text">실제 투자를 통한</div>
                <!--<div class="title-text">크고 작은</div>-->
                <div class="title-bold-text">엔젤투자 스타트</div>
            </div>
            <div class="tabs-box">
                <div class="tab-content on">
                <img src="{{url_for('static', filename='images/main_pc/s3_icon_1.png')}}">&nbsp;<span style="color:#296BFD">스타트업</span>과 함께하며 <span style="color:#296BFD">열정</span>이 생겨요<br />
                <img src="{{url_for('static', filename='images/main_pc/s3_icon_2.png')}}">&nbsp;<span style="color:#296BFD">8배 수익</span>을 전달해줄 <span style="color:#296BFD">투자처</span>를 찾아봐요<br />
            </div>

            </div>
            <div class="img-box">
            <div class="img-wrap"><img id="TAB3_IMG" src="{{url_for('static', filename='images/main_pc/s3_01.png')}}"  style=""></div>
            </div>
        </div>
    </section>

    <!-- 메일구독 -->
    <section id="SECTION08">
        <a name="SECTION8"></a>
        <div class="emailWrap", id="emailWrap">
            <div class="title-text"><span>연봉을 입력해서 </span>투자 금액을 계산해보세요</div>
            <div class="subtitle-text"><span>Star-T가 나오기 전에</span> <strong>투자금액을 </strong>먼저 알아보세요 </div>
            <div>
                <form method="GET" action="/calculate#emailWrap">
                <ul class="subscribe-form">
                    <li class="email-input-li"><input class="input_email" type="text" name="num" id ="email"></li><li class = "tax_defalut">만원</li>
                    <li class="email-button-li"><button class="email_button_click" id="subscribe-button" type="submit">확인하기</button></div></li>
                </ul>
                </form>
                <div class = "outcome-tax">
                <p>
                    {% if num == None %}
                        {% if email2 == None %}
                            <div class = "tax_info"><h5> 사전 신청이 완료되었습니다!</div>
                       {% else %}
                            <div class = "tax_info">연봉을 입력하시면 투자금액을 추천해드려요!</div>
                        {% endif %}
                    {% else %}
                        {% if email2 == None %}
                        <div class = "tax_info">사전 신청이 완료되었습니다!</div>
                        {% else %}
                        <h5> 연봉이 {{num}}만원일 경우, </h5></br>
                        <p>
                             추천 투자금액은 <h2 style="color: #296BFD">{{char1}}만원</h2></br>
                             투자금액에서의 환급금은 <h2 style="color: #296BFD">{{char2}}만원</h2></br>
                             그렇기에 실제로 투자되는 금액은 <h2 style="color: #296BFD">{{char3}}만원</h2></br>
                            </br>
                             환급 비율 <h2 style="color: #296BFD">{{char4}}만원</h2></br>
                             실 투자 비율 <h2 style="color: #296BFD">{{char5}}만원</h2></br></br>
                             <h2 style="color: #296BFD">사전 예약</h2>
                             <form method="GET" action="/email2#emailWrap"">
                            <ul>
                             <li class="email2-input-li"><input class="input2_email" type="text" name="email2" id ="email2"></li>
                             <li class="email2-button-li"><button class="email2_button_click" id="subscribe-button" type="submit" href="#emailWrap">신청</button></div></li>
                            </ul>
                            </form>
                        </p>
                
                        {% endif %}
                    {% endif %}
                </p>
                </div>
            </div>
        </div>
    </section>

    <!-- 앱다운로드 -->
    <section id="SECTION09">
        <div class="content-box">
            <div class="title-text">투자가 일상이 되는<br /><strong>안전하고 간편한 공간</strong></div>
            
        </div>
        
        <!-- 푸터 -->
        <footer>
            <div class="footer-text">
                주식회사 Star-T<br>
                대표이사 박정근
                <div class="only-desktop">&nbsp;</div>
                이메일. ain@star-t.io<br><br>
            </div>
        </footer>
    </section>

    <!-- 스크립트 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.event.ue.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.bxslider/jquery.bxslider.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/flexslider/jquery.flexslider.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/new.ready_ver2.js')}}"></script>
</body>
</html>